#exchangew-box-container.my_account.detail-box.change-info-dev
  .box
    span#close-w-exchange-window.close-detail.close &times;
  .row.header-detail
    h2 Productos disponibles para Devolucion
#listview-exchange-dev.my_account.detail-bo.change-info-dev.list-table
  .listTable.table-container-detail-items
    .ped-detail-sec-title
      .row.tableHeader.fullView.items-oder-detail(role="row")
        .col2.imagen-dev(role="columnheader")
          .cell
            span &nbsp;
        .col2.product-detail-dev(role="columnheader")
          .cell
            span Producto
        .col2.total_price(role="columnheader")
          .cell
            span Precio
      #exchange_table_w.fullView
.forms_change
  h3 Formas de Devolución
  .form_change_1
    .container
      .title Atencion:
      p Para las compras con tarjeta de crédito, la devolución se hará a travez de una reversa automática en tu tarjeta. Ten en cuenta que podras ver tu reversa de cobro los próximos 7 dias hábiles. Recuerda que si la fecha de anulación de tu pago es anterior a la fecha de cierre de tarjeta, se reflejara en tu próximo resumen. Sino, en el resumen subsiguiente. Para mas informacion sobre reversas en la tarjeta entra  <a href"#">aqui.</a>
      p La información bancaria solicitada en caso de que ocurra algún inconveniente con la reversa de tarjeta
  .form_change_2
    .container
      .header_title
        p.main_title Estimado cliente: Puede devolver su pedido a cualquier sucursal de Chilexpress o Correos de Chile
        p Recuerde que los cambios y devoluciones no tienen costo de envio
        ol
          li Sucursales de Chilexpress.
          li Sucursales de Correos Chile.
          li Sucursales de .....
.form_to_save
  .row_item_prod
    .title 
      h4 Información Bancaria
    form(method="post")
      .form-group
        label(for="account_holder_name") Nombre del titular de la cuenta:
        input#account_holder_name(type="text", name="account_holder_name")
      .form-group
        label(for="account_holder_rut") RUT del titular de la cuenta:
        input#account_holder_rut(type="text", name="account_holder_rut")
      .form-group
        label(for="account_holder_email") Email del titular de la cuenta:
        input#account_holder_email(type="email", name="account_holder_email")
      .form-group
        label(for="account_bank") Banco:
        //-input#account_bank(type="text", name="account_bank")
        select#account_bank(name="account_bank")
          option Seleccione
          option(value="1") Banco Santander
          option(value="2") Ripley
          option(value="3") BCP
      .form-group
        label(for="account_type_bank") Tipo de cuenta:
        //-input#account_type_bank(type="text", name="account_type_bank")
        select#account_type_bank(name="account_type_bank")
          option Seleccione
          option(value="1") Visa
          option(value="2") Mastercard
          option(value="3") Amex
      .form-group
        label(for="account_number_bank") Numero de cuenta:
        input#account_number_bank(type="text", name="account_number_bank")
      .form-group
        label(for="courier_exchange") Courier:
        select#courier_exchange(name="courier_exchange")
          option(value="1") Correos Chile
          option(value="2") Chile Express 
      .form-buttons
        input(type="submit" id="send_exchange_body" value="Continuar").btnPrimary