legend.spanacce(aria-hidden="true") Cambios y Devoluciones
.vertical
  h4.spanacce Cambios y Devoluciones
  .optionContainer#section_button_DEV-DEVOLUCIONES
    .title(role="button" tabindex="0" aria-label="DEV-DEVOLUCIONES" aria-describedby="facet_widget_acce_desc" onkeydown="if(event.keyCode === KeyCodes.SPACE || event.keyCode === KeyCodes.RETURN) {toggleExpandNav('DEV-DEVOLUCIONES'); return false;}"
        onclick="toggleExpandNav('DEV-DEVOLUCIONES'); return false;") <div id="icon_DEV-DEVOLUCIONES" class="arrow"></div> Cambios y Devoluciones </div>
      #section_list_DEV-DEVOLUCIONES.facetSelectContainer(role="group" aria-expanded="true" aria-labelledby="section_button_DEV-DEVOLUCIONES")
        ul.facetSelect
          li 
            a#WC_MyAccountSidebarDisplayf_sol_cambio Solicitar Cambio y devolucion
          li
            a#WC_MyAccountSidebarDisplayf_mis_cambios Mis Cambios y/o devoluciones
